.taskInputBox{
    border: none !important;
    outline: none !important;
}

.taskInputBox:focus {
    box-shadow: none !important;
}

.taskCard{
    height: 300px !important;
}

.taskContainer{
    height: 160px !important;
    overflow: auto;
}

.taskCircle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.taskCompleted{
    background-color: #44ce42;
}

.taskOngoing{
    background-color: tomato;
}

.taskName{
    color: #5c5c5c !important;
}

.taskUser{
    color: #424242 !important;
}