.projectDetails{
    font-size: 12px;
}

.progressIconCircle{
    position: absolute;    
    bottom: 0;
    right: 0;
    background-color: #fff;
    height: 25px;
    width: 25px;
    margin: 5px;
    border-radius: 50%;
}

.progressIcon{
    position: absolute;
    font-size: 8px;
    color: #9376E0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}

.projectDetails-title{
    font-weight: 500;
    color: #dacfff;
}

.projectCard{
    background-color: #9c80ff;
    overflow: hidden;
    cursor: pointer;
}

.card-pattern{
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.card-shade{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #9c80ff, transparent);
}

.projectCardInfo{
    position: relative;
}