.statusCard{
    background-color: #9376E0;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.text-status{
    font-size: 12px;
}

.card-pattern{
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.card-shade{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #9c80ff, transparent);
}