.mainCicle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.subCircle{
    background-color: #856ddb;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progresspercentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #fff;
    font-weight: bold;
}