.sidebar{
    height: 100vh;
    background-color: tomato;
    transition: width 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.herosection{
    height: 100vh;
    background-color: #44ce42;
    transition: width 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}